/** Layout */

#welcome, #left, #middle, #right {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
}
#welcome {
    left: 0;
    right: 0;
}
#left {
    left: 0;
    width: 60px;
}
#middle {
    left: 60px;
    right: 0;
}
#right {
    right: -500px;
    width: 500px;
    z-index: 20;
    -webkit-transition: right 200ms ease-in-out;
}
#right.active {
    right: 0;
}

#welcome > header,
#left > header,
#middle > header,
#right > header {
    background: rgba(47, 135, 193, 0.85);
    padding: 16px 20px;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    text-transform: uppercase;
}
#left > header a,
#middle > header a,
#right > header a {
    display: inline-block;
    float: right;
    opacity: 0.6;
}
#left > header a:hover,
#middle > header a:hover,
#right > header a:hover {
    opacity: 1;
}


/** Welcome */

#welcome {
    background: #30363E;
    color: #FFF;
}

#welcome #trees {
    padding: 100px;
    margin: 0;
    list-style-type: none;
    text-align: center;
}
#welcome #trees li {
    display: inline-block;
    margin: 20px;
    text-align: center;
    font-size: 22px;
    line-height: 21px;
    background: #3e454d;
    width: 130px;
    border-radius: 6px;
    font-family: Montserrat, sans-serif;
}
#welcome #trees li.add {
    opacity: 0.4;
}
#welcome #trees li:hover {
    background: #4c545c;
    opacity: 1;
}
#welcome #trees li a {
    display: block;
    padding: 24px;
}
#welcome #trees li a i {
    display: block;
    font-size: 60px;
    margin-bottom: 6px;
}


/** Left */

#left {
    background: #30363E;
    color: #FFF;
}
#left > header {
    padding: 8px 16px;
}
#left > header a {
    float: none;
    opacity: 0.8;
    font-size: 29px;
}



/** Middle */

#middle {
    counter-reset: section;
}

#middle ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#middle ul.tree {
    padding: 15px 10px;
}
#middle ul.tree .name {
    position: relative;
    display: block;
    padding: 4px 8px;
    border-radius: 4px;
}
#middle ul.tree .name::before {
    counter-increment: section;
    position: fixed;
    content: counter(section);
    padding: 5px 8px;
    padding-left: 24px;
    margin-top: -5px;
    left: 0;
    right: 0;
    z-index: -1000;
    color: #999;
}
#middle ul.tree .name:hover {
    cursor: pointer;
}
#middle ul.tree .name:hover::before {
    background: rgba(47, 135, 193, 0.15);
    color: #FFF;
}
#middle ul.tree .name.active {
    background: #666;
    color: #FFF;
}
#middle ul.tree > li,
#middle ul.tree ul.children > li {
    position: relative;
    margin-left: 4px;
}
#middle ul.tree ul.children > li::before {
    position: absolute;
    content: " ";
    top: 15px;
    left: -16px;
    width: 16px;
    border-top: 1px solid #CCC;
}
#middle ul.tree ul.children > li::after {
    position: absolute;
    content: " ";
    top: 0;
    bottom: 0;
    left: -16px;
    border-left: 1px solid #CCC;
}
#middle ul.tree ul.spouses > li:last-child > ul.children > li:last-child::after {
    bottom: auto;
    height: 16px;
}
#middle ul.tree ul.spouses {

}
#middle ul.tree ul.spouses > li {
    position: relative;
}
#middle ul.tree ul.spouses > li > .name i {
    margin-right: 4px;
    color: #BBB;
    font-style: normal;
}
#middle ul.tree ul.children {
    margin-left: 24px;
}


/** Right */

#right {
    color: #999;
    background: #F9F9F9;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

#right .line {
    margin: 20px;
}

#right .line h2 {
    font-size: 18px;
    color: #888;
}
#right .line label {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    color: #BBB;
}
#right .line select,
#right .line input[type=text],
#right .line textarea {
    background: #FCFCFC;
    border: 1px solid #DDD;
    padding: 8px 12px;
    border-radius: 3px;
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
}
#right .line textarea {
    height: 150px;
}
#right .line select:focus,
#right .line input[type=text]:focus,
#right .line textarea:focus {
    border-color: #BBB;
}

#right .line.head img {
    display: inline-block;
    float: left;
    margin-right: 20px;
    border-radius: 4px;
}
#right .line.head input[type=text] {
    width: 240px;
}
#right .line.head .gender {
    text-align: center;
}
#right .line.head .gender label {
    display: inline-block;
    font-size: 25px;
}
#right .line.head .gender input + label {
    margin-left: 20px;
}

#right .line.event .block {
    display: inline-block;
    width: 143px;
}
#right .line.event .common {
    margin-top: -18px;
    margin-bottom: 15px;
    font-size: 12px;
    color: #CCC;
    font-weight: 300;
    font-style: italic;
}

#right .line.action {
    padding-top: 20px;
    text-align: right;
    border-top: 1px solid #DDD;
}



.btn {
    display: inline-block;
    padding: 8px 16px;
    background: #CCC;
    border-radius: 4px;
    font-family: Montserrat, sans-serif;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
}
.btn.btn-primary {
    background: rgba(47, 135, 193, 0.5);
}
.btn:hover {
    cursor: pointer;
    background: rgba(47, 135, 193, 0.85);
}