/** Fonts */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);


/** General */

* {
    box-sizing: border-box;
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
}
body, button, input, textarea, select {
    color: #444;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    border: none;
}

button {
    cursor: pointer;
}

img {
    border: none;
}

p {
    line-height: 21px;
}

.clear {
    clear: both;
}